<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Miguel Ríos</a>
  <app-header></app-header>

  <div class="collapse navbar-collapse">

    <ul class="navbar-nav mr-auto">
      <app-header></app-header>
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>

  </div>
</nav>

<!-->
<div class="container">
  <div class="row">
    <div class="col-md-12">-->
<router-outlet></router-outlet>
<!--
    </div>
  </div>
</div>-->