<!--
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i"></app-recipe-item>
  </div>
</div>
-->
<li class="nav-item">
  <a [routerLink]="" class="nav-link" (click)="onNewRecipe()">
    <span data-feather="home"></span>
    New Map <span class="sr-only"></span>
  </a>
</li>

<div class="row">
  <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i"></app-recipe-item>
</div>